<!DOCTYPE html>
<html lang="en">

<head>
  <title>Juice App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../scripts/electronEventMsg.js" type="text/javascript"></script>
</head>

<!-- #####TSXLIGHTIDHOOKHERE -->

<body id="tsxlight-body">
  <div id="tsxlight-container">
    <meta id="tsxlight-settings" name="tsxlight-settings" content="{'buildMode':'dev','homepagePageID':'page1','baseURL':'127.0.0.1','mode':1,'expressSettings':{'limit1Connection':false},'port':'3000','socketPort':'1234'}"></meta>
    </meta>
    <div id="tsxlight-app" onclick="callbackMessenger(event)">
    </div>
  </div>
</body>

</html>